
.name {
	width: 100%;
	text-align: right;
	font-family: helvetica, sans-serif;
}

.job {
	width: 100%;
	text-align: right;
	font-family: helvetica, sans-serif;
}

.logo {
	width: 100%;
	align-content: left;
	height: 300px;
}

