/* Portfolio Project, Udacity Front End Nanodegree */

/* Compiled with some help from GitHub sources */

h1 {
	text-align: right;
	font-family: 'Lato', sans-serif;
}

h4 {
	text-align: right;
	font-family: arial, sans-serif;
}

 .row div{
      height: auto;
      font-size: 3vh;
  }

 .image {
 	height: 100%;
 	width: 100%;
 }

 h3 {
 	text-align: center;
 }
 
 img, embed,
 object, video {
 	max-width: 100%;
 }

@media screen and (min-width: 992px) {
	.weblink {
		font-size: 25px;
	}
}

@media screen and (max-width: 991px) {
	.weblink {
		font-size: 18px;
	}
}

@media screen and (max-width: 767px) {
	.weblink {
		font-size: 18px;
	}
}
